<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<h3>What is the difference between this atomic and the first atomic?</h3>
<p>Instead of using files in the public folder, we wrote handlers in our app.rb to handle the return of an object.</p>